@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

#logo {
    font-family: "Asul", sans-serif;
    font-size: 70px;
    padding-right: 50px;
    color: #730851;
    vertical-align: middle;
    text-align: center;
    padding-top: 10%;
}

.btn {
    background-color: #730851;
    opacity: 90%;
    color: #ffffff;
    position: relative;
}

body {
    font-family: "Asul", sans-serif;
    color: #ffffff;
    background: url(https://wallpaperaccess.com/full/973179.jpg) no-repeat center fixed;
    background-size: cover;
    text-align: center;
    margin-bottom: 50px;
}

.quiz-container{
    
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#next {
    background-color: #730851;
    opacity: 90%;
    color: #ffffff;
    border: none;
    margin-bottom: 20px
}


footer {
    background-color: #54053b;
    opacity: 90%;
    position: fixed;
    bottom: 0px;
    width: 100%;
    
}

.endgame {
    background: rgba(0, 0, 0, 0.5); 
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    opacity: 70%;
   
}

.option {
    font-size: 70px;
}
/*https://github.com/Code-Institute-Solutions/Love-Running-Solutions/tree/master/06_site_footer*/ 

.social-networks {
    text-align: center;
    list-style-type: none;
}

.social-networks li {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;

}

.social-networks i {
    font-size: 100%;
    color: #ffffff;
    text-align: center;
}


.answers {
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;

}
.answers label{
  display: block;
  margin-bottom: 5px;}



@media screen and (max-width: 600px) {
    #logo {
        font-size: 40px;
        display: table;
        padding-left: 50px;
    }
 body {
     font-size: 75%;
    }
.quiz-container{
    
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom: 50px;
}
}

@media only screen and (min-width: 600px) {
    

}