@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

#logo {
    font-family: "Asul", sans-serif;
    font-size: 70px;
    padding-right: 50px;
    color: #730851;
    vertical-align: middle;
    text-align: center;
}

.btn {
    background-color: #730851;
    opacity: 90%;
    color: #ffffff;
    position: relative;
}

body {
    font-family: "Asul", sans-serif;
    color: #ffffff;
    background: url(https://wallpaperaccess.com/full/973179.jpg) no-repeat center fixed;
    background-size: cover;
    text-align: center;
}

.quiz-container{
    
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer {
    background-color: #54053b;
    opacity: 90%;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
/*/*https://github.com/Code-Institute-Solutions/Love-Running-Solutions/tree/master/06_site_footer*/ */
.social-networks {
    text-align: center;
    list-style-type: none;
}

.social-networks li {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.social-networks i {
    font-size: 100%;
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #logo {
        font-size: 40px;
        display: table;
    }
 #quiz-container {
     font-size: 50%;}
}